/* Colour Palette */
:root {
    --background:#eee9e0ff;
    --main:#4c694dff;
    --text:#eee9e0ff;
    --accent:#835f1f;
    --highlight:#b7caa1;
}


/* Animation */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes git {
    0% {
        background: url("assets/github\ regular\ \(Pixel\ perfect\).png") no-repeat;
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 17vh;
    }
    100% {
        background: url("assets/github\ hover.png");
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 17vh;
    }
}

@keyframes linked {
    0% {
        background: url("assets/linkedin\ regular\ \(Freepik\).png");
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 28vh
    }
    100% {
        background: url("assets/linkedin\ hover.png");
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 28vh;
    }
}

@keyframes em {
    0% {
        background: url("assets/email\ regular\ \(Ehtisham\ Abid\).png") no-repeat;
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 39vh;
    }
    100% {
        background: url("assets/email\ hover.png");
        background-size: contain;
        position: fixed;
        width: 8vh;
        height: 8vh;
        left: 4vh;
        top: 39vh;
    }
}

@keyframes na {
    0% {
        color:var(--accent);
        text-decoration: none;
    }
    100% {
        color:var(--main);
        text-decoration: none;
    }
}

::selection {
    color: var(--highlight);
}

::-webkit-scrollbar {
    width: 2.2vh;
    height: 2vh;
    background-color: var(--main);
}
::-webkit-scrollbar-track {
    animation: fadein 0.3s;
    border: thin solid;
    color: var(--highlight);
}
::-webkit-scrollbar-thumb {
    animation: fadein 0.3s;
    border-radius: 1vh;
    background: var(--highlight);
}

/* Classes */
body {
    background-color: var(--background);
    color: var(--text);
    animation: fadein 1.5s;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 12vh;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    font-size: 11vh;
    margin-top: 0%;
}

h2 {
    font-family: 'Anonymous Pro', mono;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 0%;
}

h3 {
    font-weight: normal;
    font-size: 4vh;
}

h4 {
    font-family: 'Anonymous Pro', mono;
    font-size: 3.5vh;
}

p {
    font-size: 4vh;
}

/* Shapes */
.vl {
    border-left: 2px solid;
    border-color: var(--accent);
    height: 50vh;
    position: fixed;
    left: 7.5vh;
    bottom: 0px;
  }

.hl {
    height: 2px;
    width: 750px;
    background: var(--accent);
}

.rectangle {
    height: 30vh;
    width: 25vh;
    background:var(--text);
    border: 10vh solid;
    border-color: var(--text);
    position: static;
    margin-top: 30%;
    margin-left: -4%;
}
.curve {
    height: 25vh;
    width: 25vh;
    border: 10vh solid;
    border-color: var(--text);
    border-radius: 25%;
    background:var(--text);
    position: static;
    margin-top: -60%;
    margin-left: -4%;
}

.l {
    margin-left: 33%;
}
.t {
    margin-top: -12%;
}
.l2 {
    margin-left: 70%;
}
.t2 {
    margin-top: -12%;
}

.l3 {
    margin-left: 25.5% !important;
}
.l4 {
    margin-left: 52.5% !important;
}

.curve_line {
    height: 74vh;
    width: 40vh;
    border: 0.3vh solid;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border-color: var(--accent);
    position: absolute;
    margin-top: -24%;
    margin-left: -1.7%;
}
/* Settings for images */
.github{
    background: url("assets/github\ regular\ \(Pixel\ perfect\).png") no-repeat;
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 17vh;

}
.github:hover{
    background: url("assets/github\ hover.png");
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 17vh;
    animation: git 0.3s;
}

.linkedin {
    background: url("assets/linkedin\ regular\ \(Freepik\).png");
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 28vh;
}
.linkedin:hover{
    background: url("assets/linkedin\ hover.png");
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 28vh;
    animation: linked 0.3s;
}

.email {
    background: url("assets/email\ regular\ \(Ehtisham\ Abid\).png");
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 39vh;
}
.email:hover{
    background: url("assets/email\ hover.png");
    background-size: contain;
    position: fixed;
    width: 8vh;
    height: 8vh;
    left: 4vh;
    top: 39vh;
    animation: em 0.3s;
    line-height: 13vh;
}

.leaves {
    background: url("assets/leaves.jpg") no-repeat;
    position: static;
    background-size: cover;
    width: 52.6vh;
    height: 105vh;
    margin-top: -3%;
    margin-left: 71%;
    animation: fadein 1.5s;
}

/* Nav Bar Classes */
.navi {
    color: var(--accent);
    position: fixed;
    font-size: 2vh;
    font-family: 'Anonymous Pro', mono;
    left:9.5vh;
    text-decoration: none;
    font-style: normal;
}
.navi:hover {
    color: var(--main);
    position: fixed;
    font-size: 2vh;
    font-family: 'Anonymous Pro', mono;
    left:9.5vh;
    text-decoration: none;
    animation: na 0.3s;
}
.remove {
    display:inline-flex;
}
.home {
    top: 52vh;
}
.about {
    top: 58vh;
}
.skills {
    top: 64vh;
}
.education {
    top: 70vh;
}
.projects {
    top: 76vh;
}
.experiences {
    top: 82vh;
}

/* Section Classes */
.title {
    background: var(--main);
    position: static;
    margin-top: -50%;
    margin-left: 15%;
    width: 120vh;
    height: 60vh;
    border: 10vh solid;
    border-color: var(--main);
    text-align: right;
    animation: fadein 1.5s;
}

.sect {
    background: var(--main);
    position:static;
    border: 10vh solid;
    border-color: var(--main);
    width: 132vh;
    height: 70vh;
    margin-top: -8.5%;
    margin-left: 15%;
}

.tech {
    height: 110vh;
}
.skill_title {
    color:var(--accent);
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5vh;
    font-weight: 100;
    text-align: center;
    margin-top: -29%;
    margin-left: -73.5%;
}
.skill_sub {
    color: var(--text);
    max-width: 15vh;
    font-size: 2.5vh;
    margin-top: 5%;
    margin-left: 7.5%;
    text-align: center;
    line-height: 5vh;
    background: var(--accent);
    border: 0.3vh solid;
    border-radius: 1vh;
}

/* Miscellaneous */
.moveup {
    margin-top: -3%;
}
.moveup2 {
    margin-top:-8%;
}
.moveup3 {
    margin-top: -45%;
}
.moveup4 {
    margin-top: -49%;
}
.movedown {
    margin-top: 10%;
}
.movedown2 {
    margin-top: 4.8%;
}
.moveleft {
    margin-left: 0%;
}
.moveleft2 {
    margin-left: 44%;
}
.moveleft3 {
    margin-left: 74%;
}
.moveleft4 {
    margin-left: 81%;
}
.larger_width {
    max-width: 20vh;
    margin-left: 42%;
}
.large {
    margin-top: 5%;
    font-size: 20vh;
    line-height: 16vh;
}
.ellipsis {
    color:var(--main);
    font-size: 20vh;
    margin-left: 50%;
    margin-top: -7.5%;
}